.countdown {
  margin: auto;
  display: flex;
  padding: 30px;
  border: solid 1px #f5f5f5;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  &-col {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 600;
    justify-content: center;
    // margin-left: 10px;
    p {
      font-size: 15px;
      font-weight: 200;
      margin-top: 4px;
      margin-bottom: 0px;
    }
  }
  // Override
  .divider {
    margin-top: -28px;
  }
}


